<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h2>show product</h2>
  <li>
    this name : <%=showProduct.name%>
  </li>
  <li>
    this price : <%=showProduct.price%>
  </li>
  <li>
    this category : <a href="/products?category=<%=showProduct.category%>">
      <%=showProduct.category%>
    </a>
  </li>

  <a href="/products">home</a>
  <a href="/products/<%=showProduct._id%>/adit">adit</a>
  <!-- 因a 標籤無法 只能用GET方法 所以要用form表單去提交不同形式的提交方式 ex: post delete put -->
  <form action="/products/<%=showProduct._id%>?_method=DELETE" method="post">
    <button type="submit">delete</button>
  </form>

</body>

</html>